.container {
  --bg-color: rgba(2, 49, 93, 0.25);
  --text-color: #f0f0f0;
  --border-color: rgba(7, 65, 115, 0.5);
  --nav-border-color: rgba(24, 97, 186, 0.5);
  --active-nav-bg: rgba(3, 76, 166, 0.36);
  --terminal-bg: rgba(36, 36, 36, 0.15);
  --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.container[data-theme="light"] {
  --bg-color: rgba(240, 240, 255, 0.7);
  --text-color: #1e1e1e;
  --border-color: rgba(78, 169, 243, 0.5);
  --nav-border-color: rgba(170, 170, 170, 0.5);
  --active-nav-bg: rgba(208, 208, 208, 0.7);
  --terminal-bg: rgba(220, 220, 220, 0.4);
  --text-shadow: 1px 1px 2px rgba(236, 236, 236, 0.3);
}
.narration q {
  color: #6eecc4; 
  text-shadow: 0 0 5px #59e4e082; 
}
.character1 q {
  color: #78cbff; 
  text-shadow: 0 0 5px #5cb5f98e; 
}
.character2 q {
  color: #f781c4; 
  text-shadow: 0 0 5px #f87ec376; 
}
.container {
  display: flex;
  flex-direction: row;
  border: 5px solid var(--border-color);
  max-width: 1250px;
  margin: 0 auto;
  height: 600px;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 5px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  font-family: Arial, sans-serif;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.left-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 17px;
  flex-shrink: 0;
  border-right: 2px solid var(--nav-border-color);
  width: auto;
  max-width: 150px;
}
.left-nav .section {
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.left-nav .section:hover {
  background-color: var(--active-nav-bg);
}
.left-nav .section.active {
  background-color: var(--active-nav-bg);
  font-weight: bold;
}
#right-content {
  flex-grow: 1;
  padding: 20px;
  padding-right: 5px;
  width: auto;
  overflow-y: auto;
  background-color: var(--terminal-bg);
  border-radius: 5px;
  margin-left: 10px;
}
.content-div {
  display: none;
  height: 100%;
}
.content-div.active {
  display: block;
}
.terminal {
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  overflow-y: auto;
}
.terminal pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  padding-right: 15px;
}
.prompt {
  color: #4caf50;
}
.cursor {
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.story-content {
  line-height: 1.6;
  text-align: justify;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  height: 96%;
  overflow-y: auto;
  padding-right: 15px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    min-height: 600px;
    max-height: auto;
    overflow: hidden;
  }

  .left-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-right: none;
    border-bottom: 2px solid var(--nav-border-color);
    max-width: 100%;
    padding: 10px;
  }

  .left-nav .section {
    margin-right: 10px;
    margin-bottom: 0;
    padding: 8px;
    text-align: center;
    white-space: normal;
    width: auto;
    min-width: 60px;
    max-width: 120px;
    font-size: 14px;
  }

  #right-content {
    margin-left: 0;
    margin-top: 10px;
    overflow-y: auto;
    height: 600px;
  }
}
